In [1]:
# Data types(integers) represent by int
i = 10 # With the help of i which is a variable we can store data in it.
print(type(i)) # it is the int type data

<class 'int'>

In [8]:
# Another example of int
a = 20
b = 30
c = a-b
print(f"Values :{c}")
print(f"Type of the value: {type(c)}")

Values :-10
Type of the value: <class 'int'>

In [7]:
# floating values data_type are repressent by flot
pi = 3.14
a = 23.67
print(f"Value of pi: {pi}")
print(f"Value of a: {a}")
print(f"Type of the value in pi: {type(pi)}")
print(f"Type of the value in a : {type(a)}")

Value of pi: 3.14
Value of a: 23.67
Type of the value in pi: <class 'float'>
Type of the value in a : <class 'float'>

In [9]:
# another example 
x = 677.143
y = 233.673
print(f"Value of x: {x}")
print(f"Value of y: {y}")
print(f"Type of the value in x: {type(x)}")
print(f"Type of the value in x+y : {type(x+y)}")

Value of x: 677.143
Value of y: 233.673
Type of the value in x: <class 'float'>
Type of the value in x+y : <class 'float'>

In [10]:
# complex data type is represent by complex
a = 2+5j
print(type(a))

<class 'complex'>

In [13]:
# Addition of a complex data_type
x = 2+5j
y = 4+7j
print(x+y)

(6+12j)

In [14]:
# Another example 

x = 2+5j
y = 4+7j
print(f"Value of x: {x}")
print(f"Value of x: {x}")
print(f"Value of x+y: {x+y}")
print(f"Type of x: {type(x)}")
print(f"Type of y: {type(y)}")

Value of x: (2+5j)
Value of x: (2+5j)
Value of x+y: (6+12j)
Type of x: <class 'complex'>
Type of y: <class 'complex'>

In [16]:
# String data type 
name = "Praful Thakur"
print(type(name))
print("Length of the string: ",len(name))
print("Name:",name)

<class 'str'>
Length of the string:  13
Name: Praful Thakur

In [17]:
# Another example 
name = "Bhole Nath"
print(type(name))
print("Length of the string: ",len(name))
print("Name:",name)

<class 'str'>
Length of the string:  10
Name: Bhole Nath

In [24]:
# Sequence data type
# List: Ordered and mutable
my_list = [10,20,30,40]
print(my_list)
print("First element in the list :",my_list[0])
# Tuple: Ordered and immutable
my_tuple = (1,2,3,4)
print("Tuple",my_tuple)
print("Last elemment in my_tuple is: ",my_tuple[-1])
# Range : Sequence of the numbers
my_range = range(5)
print("Range object: ",my_range)
print("Cover to list",list(my_range))

[10, 20, 30, 40]
First element in the list : 10
Tuple (1, 2, 3, 4)
Last elemment in my_tuple is:  4
Range object:  range(0, 5)
Cover to list [0, 1, 2, 3, 4]

In [25]:
# Boolean Type
is_active = True
print("Is active",is_active)
print("Type",type(is_active))

Is active True
Type <class 'bool'>

In [26]:
# List
fruits = ["Apple","Banana","mango"]
print("fruit list",fruits)
print("First fruit",fruits[0])
# Tuple
colors=("Red","Green","BLue")
print("Colours Tuple",colors)
print(type(colors))

fruit list ['Apple', 'Banana', 'mango']
First fruit Apple
Colours Tuple ('Red', 'Green', 'BLue')
<class 'tuple'>