# Condition in Python

In [1]:
# Basic if else condition
a = 5
if a<5:
    print("a is lesser")
else:
    print("a is greater")

a is greater

- if  execute when condition is true and if condition is false then else block is execute.

In [2]:
age = int(input("Enter your age"))
if age >18:
    print("You are not able for voting")
else :
    print("You are able for votting")

Enter your age 19

You are not able for voting

In [3]:
number = int(input("Enter any number: "))
if number%2==0:
    print("Even number")
else :
    print("Odd number ")

Enter any number:  123

Odd number

In [4]:
year = int(input("Enter year: "))
if year%4==0 :
    if year % 100 == 0 :
        print("Leap year")
    else :
        print("Not a leap year")
else :
    if year % 400 ==0 :
        print("Leap year")
    else :
        print("Not a leap year")

Enter year:  2002

Not a leap year

In [6]:
x = 4
if 4>10:
    print("value is greater")
else :
    print("value is smaller")

value is smaller

In [8]:
num = -12
if num >1:
 print("Number is positive")
elif num ==0:
 print("Number is zero")
else:
    print("Number is negative")

Number is negative

# loops in Python

-A for loop is used to iterate over a sequence.

In [12]:
fruits = ["Apple","banana","mango"]
for i in fruits:
 print(i)

Apple
banana
mango

In [14]:
for i in range(1,10):
 print("Praful")

Praful
Praful
Praful
Praful
Praful
Praful
Praful
Praful
Praful

In [20]:
for i in range (1500,2700):
    if i%7==0 and i%5==0:
     print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [25]:
even= 0
odd = 0
for i in range(1500,2701):
    if i %2 ==0:
        even+=1
    else :
        odd +=1
print(odd)
print(even)

600
601

In [26]:
even= 0
odd = 0
for i in range(1,100):
    if i %2 ==0:
        even+=1
    else :
        odd +=1
print(odd)
print(even)

50
49

In [35]:
num = (1,2,3,4,5,6,7,8,9)
odd = 0
even = 0
for i in num:
 if i%2 == 0:
    even+=1
 else:
    odd+=1
print(even)
print(odd)

4
5

In [16]:

for i in range(1, 10):
    print(" " * (rows - i), end="")
    print("*" * (2 * i - 1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

#

In [19]:
num = int(input("Enter a number"))
for i in range(1,11):
 print(f"{num} x {i} = {num*i}")

Enter a number 111

111 x 1 = 111
111 x 2 = 222
111 x 3 = 333
111 x 4 = 444
111 x 5 = 555
111 x 6 = 666
111 x 7 = 777
111 x 8 = 888
111 x 9 = 999
111 x 10 = 1110