In [2]:
# Question create a tuple and print the list?
tup_le = (100,200,300)
print(tup_le)
print(type(tup_le))

(100, 200, 300)
<class 'tuple'>

In [3]:
# Question access the second last element from the tuple?
element = ("red","green","yellow")
print(element[-2])

green

# find minimum number in a tuple

In [4]:
num = (10,20,5,15)
print(min(num))

5

# Find the index of given element

In [5]:
animal = ("dog","cat","rabbit")
print([1])

cat

# code to find the element

In [15]:
fruit = ("Apple","Kivi","Mango")
print("Kivi" in fruit)

True

# Create a set and print the set.

In [11]:
s_et = {"a","b","c"}
print(s_et)
print(type(s_et))

{'a', 'b', 'c'}
<class 'set'>

# Clear all element in a set.

In [20]:
s_et = {1,2,3,4,5,6}
c = s_et.clear()
print(c)

None

# Remove the element from the set

In [22]:
s_et = {1,2,3,4,5}
s_et.remove(4)
print(s_et)

{1, 2, 3, 5}

# Find the union of the given seet's

In [30]:
set_1 = {1,2,3}
set_2 = {4,5,6}
print(set_1.union(set_2))

{1, 2, 3, 4, 5, 6}

# Find the intersection of given set

In [32]:
set_1 = {1,2,3,}
set_2 = {3,4,5,6}
print(set_1.intersection(set_2))

{3}

# Adding new key-value pairs

In [7]:
v = {"Name":"Bab","age":22,"city":"New"}
v["country"]="USA"
print(v)

{'Name': 'Bab', 'age': 22, 'city': 'New', 'country': 'USA'}

# Access the value associated with the key

In [11]:
di_cti = {"Name":"Praful","Age":25}
Name = di_cti["Name"]
print(Name)

Praful

# Removing a specific key in the Dictionary

In [24]:
di_cti = {"Name":"Praful","Age":25,"City":"New York"}
del di_cti["Age"]
print(di_cti)
# Another method
#di_cti.pop("Name")
#print(di_cti)

{'Name': 'Praful', 'City': 'New York'}

# Checking the specific key is present or not in the dictionary

In [26]:
list_ = {"Name":"Alice","Age":22,"City":"Paris"}
if "City" in list_:
    print(f"City is present in the list.\n{list_}")
else:
    print("City is not in the list")

City is present in the list.
{'Name': 'Alice', 'Age': 22, 'City': 'Paris'}

# Creating list tuple and dictionary and print all

In [28]:
list_ = [1,2,3,4,5]
tuple_ =(1,2,3,4,5)
dict_  ={"number":{1,2,3,4,5}}
print(type(list_))
print(type(tuple_))
print(type(dict_))
print(list_)
print(tuple_)
print(dict_)

<class 'list'>
<class 'tuple'>
<class 'dict'>
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'number': {1, 2, 3, 4, 5}}

# Create a list of 5 random number between 1 to 100, sort in ascending

In [38]:
list_ = [14,5,36,44,85]
sort = list_.sort()
#sort = list_.sort(reverse=True)
print(list_)
# Printing the lsit in reversed order.
print(list_[::-1])

[5, 14, 36, 44, 85]
[85, 44, 36, 14, 5]


# Create a list of 5 random number between 1 to 100, sort in decending

In [39]:
list_ = [14,5,36,44,85]
sort = list_.sort(reverse=True)
print(list_)

[85, 44, 36, 14, 5]

# Creating a list with string and print the element at the third index.

In [55]:
list_ = ["H","e","l","l","o"]
print(len(list_))
print(type(list_))
print(list_[2:])

5
<class 'list'>
['l', 'l', 'o']

# Combine two dictionaries

In [60]:
dict1 = {"Name":{"Paful","Jatin","Delta"}}
dict2 = {"Age":{19,18,19}}
dict_ = dict1 |dict2
print(dict_)

{'Name': {'Paful', 'Delta', 'Jatin'}, 'Age': {18, 19}}

# Write a code to convert a list of string into a set.

In [61]:
list_ = ["P","r","a","f","u","l"]
set_ = set(list_)
print(set_)

{'f', 'u', 'P', 'r', 'a', 'l'}